
{% if page_obj.has_other_pages %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <h4 aria-hidden="true">
                        <a class="page-link" style="color: #e96b56;"
                           href="?page={{ page_obj.previous_page_number }}" >&laquo;</a>
                    </h4>
                </li>
            {% endif %}
            {% for pn in page_obj.paginator.page_range %}
                {% if page_obj.number == pn %}
                    <li class="page-item active" style="border-color: #e96b56;">
                        <h4><a class="page-link" style="background-color: #e96b56; border: 1px solid #e96b56;"
                               href="#">{{ pn }}</a></h4>
                    </li>
                {% else %}
                    <li class="page-item">
                        <h4><a class="page-link" style="color: #e96b56;" href="?page={{ pn }}">{{ pn }}</a></h4>
                    </li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <h4>
                        <a class="page-link" style="color: #e96b56;"
                           href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                    </h4>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
