{% load static %}

<header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="logo">
            <h1><a href="{% url 'article:main' %}">Habr</a></h1>
        </div>
        <form class="form-inline my-2 my-lg-0 d-flex align-items-center">
          <input class="form-control mr-sm-2"
                 type="search"
                 placeholder="Search"
                 aria-label="Search"
                 style="width: 150px;">
          <button class="btn btn-outline-success my-2 my-sm-0"
                  type="submit">Search</button>
        </form>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="active" href="#">Новости</a></li>
                <li><a href="#">Дизайн</a></li>
                <li><a href="#">Веб-разработка</a></li>
                <li><a href="#">Мобильная разработка</a></li>
                <li><a href="#">Маркетинг</a></li>
                <li><a href="#">О Сервисе</a></li>
                <li><a href="#">Команда</a></li>
                <li><a href="#">Популярные блоги</a></li>
                <li class="dropdown">
                    <a href="#">
                        {{ user.first_name|default:'Пользователь' }}
                    </a>
                    <ul>
                        {% if user.is_authenticated %}
                            <li><a href="#">Редактировать</a></li>
                            <li><a href="#">Мои статьи</a></li>
                            <li><a href="{% url 'article:add' %}">Добавить статью</a></li>
                            <li><a href="{% url 'auth:logout' %}">Выйти</a></li>
                        {% else %}
                            <li><a href="{% url 'auth:login' %}">Войти</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header><!-- End Header -->
