{% extends 'adminapp/base.html' %}
{% load static %}


{% block css %}
<link href="{% static 'adminapp/css/admin_style.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
<div class="container items-wrapper shadow-sm">
    <div class="item-block shadow row">
        <div class="col-3">
            <a href="{% url '_admin:categories' %}" class="btn btn-outline-secondary">
                к списку категорий
            </a>
        </div>
        <div class="col-6">
            <form class="form-horizontal" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="form-control" type="submit" value="сохранить" class="btn btn-outline-secondary">
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>

{% block footer %}
{% include 'mainapp/includes/inc_footer.html' %}
{% endblock footer %}
{% endblock content %}