{% extends 'adminapp/base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'adminapp/css/admin_style.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
<div class="container items-wrapper shadow-sm">
    {% for category in objects %}
        <div class="item-block shadow row {% if category.is_deleted %} is-deleted {% endif %}">
            <div class="col-1">{{ forloop.counter }}</div>
            <div class="col-9 row">
                <div class="col-4">name:&nbsp;&nbsp;{{ category.name }}</div>
                <div class="w-100 d-none d-md-block"></div>
                <div class="col-4">
                    <p>is_deleted:&nbsp;&nbsp;{% if category.is_deleted %}да{% else %}нет{% endif %}</p>
                </div>
                <div class="col-6"></div>
                <div class="col-2"></div>
            </div>
            <div class="col-2 row-cols-2">
                <div class="col-12 mar-b-5">
                    <a href="{% url '_admin:category_update' category.pk %}"
                       class="btn btn-outline-secondary btn-block align-items-start d-b">редактировать</a>
                </div>
                <div class="col-12">
                    <a href="{% url '_admin:category_delete' category.pk %}"
                       class="btn btn-outline-secondary btn-block align-items-end d-b">удалить</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% block footer %}
    {% include 'mainapp/includes/inc_footer.html' %}
{% endblock footer %}
{% endblock content %}