{% extends 'adminapp/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'adminapp/css/admin_style.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
<div class="container items-wrapper shadow-sm">
    {% for user in objects %}
        <div class="item-block shadow row {% if not user.is_active %} is-deleted {% endif %}">
            <div class="col-1">{{ forloop.counter }}</div>
            <div class="col-9 row">
                <div class="col-4">username: {{ user.username }}</div>
                <div class="col-6">name: {{ user }}</div>
                <div class="w-100 d-none d-md-block"></div>
                <div class="col-4">e-mail: {{ user.email }}</div>
                <div class="col-6">role: {{user.get_role_display}}</div>
                <div class="col-2">active: {% if user.is_active %} да {% else %} нет {% endif %}</div>
            </div>
            <div class="col-2 row-cols-2">
                <div class="col-12 mar-b-5">
                    <a href="{% url '_admin:user_update' user.pk %}"
                       class="btn btn-outline-secondary btn-block align-items-start d-b">редактировать</a>
                </div>
                <div class="col-12">
                    <a href="{% url '_admin:user_delete' user.pk %}"
                       class="btn btn-outline-secondary btn-block align-items-end d-b">удалить</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% block footer %}
{% include 'mainapp/includes/inc_footer.html' %}
{% endblock footer %}
{% endblock content %}
