{% extends 'adminapp/base.html' %}
{% load static %}


{% block css %}
    <link href="{% static 'adminapp/css/admin_style.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
<div class="wrapper">
    <div class="content">

        <div class="page-wrapper">
            <form class="form-horizontal" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="form-control" type="submit" value="сохранить">
            </form>
            <button class="btn btn-round form-control last">
                <a href="{% url '_admin:users' %}">
                    к списку пользователей
                </a>
            </button>
        </div>
    </div>
</div>
{% block footer %}
    {% include 'mainapp/includes/inc_footer.html' %}
{% endblock footer %}
</div>
{% endblock content %}