<div>
    <h4>Комментарии ({{ article.comments_articles.all.count }})</h4>

    <div>
        <ul>
        {% for item in article.comments_articles.all %}
        <li class="border">
            "{{ item.comment_text }}"<br>
            Дата написания: {{ item.comment_create }}<br>

        {% if user.is_authenticated %}
            Автор комментария: {{ item.comment_author }}<br>
            Модерация комментария: {{ item.comment_moderation }}<br>
            <form action=""
                  method="POST">
                {% csrf_token %}
                <button type="submit",
                        name="comments_id",
                        value="{{ comments.id }}",
                        class="btn btn-primary btn-sm">
                    Like
                </button>
            </form>
        {% endif %}
        </li><br>
        {% endfor %}
        </ul>
    </div>
    <hr>
    <p>Добавить комментарий</p>

    <div class="col-5">
        <form action="" id="add_form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
        </form>
        {% if user.is_authenticated %}
            <input form="add_form" type="submit" value="Добавить"/>
        {% else %}
            <p>Чтобы добавить комментарий, зарегистрируйтесь.</p>
        {% endif %}
    </div>
    <br>
</div>
