<div>
    <h4>Комментарии ({{ article.comments_articles.all.count }})</h4>

    {% if messages %}
    <div class="alert alert-success">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
    {% endif %}

    <div>
        <ul>
            {% for item in article.comments_articles.all %}

            <li class="border" style="list-style-type: none; padding: 5px;">

                "{{ item.comment_text }}"<br>

                Дата написания: {{ item.comment_create }}<br>

                {% if user.is_authenticated %}

                    Автор комментария: <a href="{% url 'auth:profile' item.comment_author.pk %}">{{ item.comment_author }}</a><br>

                    {% if item.comment_article.author == request.user %}

                    Модерация комментария: {{ item.comment_moderation }}

                    {% endif %}
                    <br>
                {% endif %}

            </li><br>
            {% endfor %}
        </ul>
    </div>
    <hr>
    {% if user.is_authenticated %}
        {% if not user.check_block %}
        <p>Добавить комментарий</p>

        <div class="col-5">

            <form action="" id="add_form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
            </form>
            <input form="add_form" type="submit" value="Добавить"/>
        </div>
        {% else %}
        <div class="col-12">
            <p>Вы не можете оставлять комментарии так как заблокированы до {{ user.is_block }}</p>
        </div>
        {% endif %}

    {% else %}
    <div class="col-5">
        <p>Чтобы добавить комментарий <a href="{% url 'auth:login' %}">войдите</a>
            или <a href="{% url 'auth:register' %}">зарегистрируйтесь.</a></p>
    </div>
    {% endif %}
    <br>
</div>
