.items-wrapper {
    padding: 1em 1em;
    margin: 30px auto;
}

.item-block {
    border-radius: 15px;
    margin: 10px 0;
    padding: 10px;
    min-height: 100px;
}

.mar-b-5 {
    margin-bottom: 5px;
}

.d-b {
    display: block;
}

.is-deleted {
    opacity: 0.5;
    background-color: #d1d5de;
}
