{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
    <center>
        <br>
        <div class="input-group mb-3" style="width: 50%;">
          <input type="text" class="form-control"
                 placeholder="Поисковая строка"
                 aria-label="Recipient's username"
                 aria-describedby="basic-addon2">
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2">
                Поиск
            </span>
          </div>
        </div>
        <br>
    {% if searched %}

        <h2>Вы искали: "{{ searched }}"</h2><br/>

        {% for result in results %}

            <p>"{{ searched }}" находится в этой статье:
            <a href="{% url 'article:detail' result.pk %}">
                {{ result }}
            </a></p>

        {% endfor %}

    {% else %}
        <h3>Введите в строку поиска, то, что вы хотите найти.</h3>
    {% endif %}

    </center>
{% endblock content %}
