{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
    <section id="blog" class="blog">
        <div class="container">
            <div class="article-edit-form"><h4>Новая статья</h4>
                <form action="" method="post">{% csrf_token %}
                    {{ form.media | safe }}
                    {{ form.as_p }}
                    <div class="row">
                        <div class="col-md-6 form-group">
                            {{ form.image }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Создать</button>
                </form>
            </div>
        </div>
    </section>
{% endblock content %}


{#                    <div class="row">#}
{#                        <div class="col-md-6 form-group">#}
{#                            <input name="{{ form.title.html_name }}" type="text" class="form-control"#}
{#                                   placeholder="{{ form.title.label }}" value="{{ form.title.value|default_if_none:"" }}">#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <div class="col-md-6 form-group">#}
{#                            {{ form.category }}#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <div class="col form-group">#}
{#                            <textarea name="{{ form.content.html_name }}"#}
{#                                      class="form-control"#}
{#                                      placeholder="{{ form.content.label }}"#}
{#                                      style="height: 384px;">{{ form.content.value|default_if_none:"" }}</textarea>#}
{#                             {{ form.content }}#}
{#                        </div>#}
{#                    </div>#}
